{% extends "base.html" %}
{% block title %}Ремонт стиральных машин во Фрязино{% endblock title %}
{% block content %}
    <div class="container">
        <h1 class="mt-4 text-center">Ремонт стиральных машин во Фрязино</h1>
        <p class="h5">Рекомендации мастера:</p>
        <p class="h6">Перед началом использования стиральной машины настоятельно рекомендуется
        прочесть инструкцию по эксплуатации.</p>
        <p class="h6">Если возникли проблемы со сливом воды в первую очередь рекомендуется
        проверить сливной фильтр рассположенный с переди в низу.</p>
        <p class="h6">При появлении постороннего шума следует обратиться к мастеру.</p>
        <table class="table mt-4">
         <colgroup><col><col><col><col><col></colgroup>
        <tbody>
        <tr class="table-primary">
            <td>
                 Неисправность
            </td>
            <td>
                 Цена
            </td>
        </tr>
        <tr class="table-primary">
            <td rowspan="1" colspan="2">
                 ЛЕГКИЙ РЕМОНТ
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Чистка сливного фильтра
            </td>
            <td>
                 от 1000 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Чистка заливного фильтра
            </td>
            <td>
                 от 1300 руб.
            </td>

        </tr>
        <tr class="table-primary">
            <td>
                 Снятие транспортировочных болтов
            </td>
            <td>
                 от 1200 руб.
            </td>

        </tr>
        <tr class="table-primary">
            <td>
                 Открытие люка без ремонта
            </td>
            <td>
                 от 1300 руб.
            </td>

        </tr>
        <tr class="table-primary">
            <td>
                 Замена кнопки
            </td>
            <td>
                 от 1200 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена стекла люка
            </td>
            <td>
                 от 1000 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена сливного шланга
            </td>
            <td>
                 от 1400 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена сливного фильтра
            </td>
            <td>
                 от 1200 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена сетевого фильтра (ФПС, пусковой конденсатор)
            </td>
            <td>
                 от 900 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена ручки люка
            </td>
            <td>
                 от 1300 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена приводного ремня
            </td>
            <td>
                 от 900 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена петли дверцы
            </td>
            <td>
                 от 1000 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена люка
            </td>
            <td>
                 от 1000 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена заливного шланга
            </td>
            <td>
                 от 900 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена дозатора моющих средств
            </td>
            <td>
                 от 1100 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td rowspan="1" colspan="2">
                 СРЕДНИЙ РЕМОНТ
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Поиск и устранение засора в сливном тракте
            </td>
            <td>
                 от 1100 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена шкива барабана
            </td>
            <td>
                 от 1600 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена УБЛ (блокировки люка)
            </td>
            <td>
                 от 1300 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена ТЭНа
            </td>
            <td>
                 от 1400 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена сливного насоса
            </td>
            <td>
                 от 1600 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена заливного клапана (КЭНа)
            </td>
            <td>
                 от 1500 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена датчика температуры или термостата
            </td>
            <td>
                 от 1300 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена верхнего противовеса
            </td>
            <td>
                 от 1650 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Ремонт или замена патрубка
            </td>
            <td>
                 от 1500 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена щёток двигателя
            </td>
            <td>
                 от 1400 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена селектора программ
            </td>
            <td>
                 от 1650 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена пружин
            </td>
            <td>
                 от 1900 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Убрать посторонний предмет
            </td>
            <td>
                 от 1300 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена блока управления или индикации
            </td>
            <td>
                 от 1650 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Ремонт или замена аквастопа
            </td>
            <td>
                 от 1650 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена прессостата (датчика уровня)
            </td>
            <td>
                 от 1600 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена шторок барабана
            </td>
            <td>
                 от 1900 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена циркуляционного насоса
            </td>
            <td>
                 от 1650 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Ремонт или замена мотора
            </td>
            <td>
                 от 1650 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена ТЭНа сушки
            </td>
            <td>
                 от 1600 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена мотора вентилятора сушки
            </td>
            <td>
                 от 1650 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена жгута электропроводки
            </td>
            <td>
                 от 1500 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена манжеты люка
            </td>
            <td>
                 от 1600 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена амортизаторов
            </td>
            <td>
                 от 2200 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Ремонт платы управления или индикации
            </td>
            <td>
                 от 2300 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td rowspan="1" colspan="2">
                 СЛОЖНЫЙ РЕМОНТ
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена подшипника
            </td>
            <td>
                 от 3100 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена крестовины
            </td>
            <td>
                 от 2900 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена бака или барабана
            </td>
            <td>
                 от 3500 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена опоры бака
            </td>
            <td>
                 от 3100 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена нижнего противовеса
            </td>
            <td>
                 от 3500 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td>
                 Замена шторок барабана с разбором бака <br>
                 (для машин с вертикальной загрузкой)
            </td>
            <td>
                 от 2900 руб.
            </td>
        </tr>
        <tr class="table-primary">
            <td rowspan="1" colspan="2">
                 *Цены не включают в себя стоимость запчастей и других расходников
            </td>
        </tr>
        </tbody>
        </table>
    </div>

{% endblock content %}