{% extends "base.html" %}
{% block title %}Ремонт электроплит во Фрязино{% endblock title %}
{% block content %}
<div class="container">
    <h1 class="mt-4 text-center">Ремонт электроплит во Фрязино</h1>
    <div class="container">
        <p>
         Чтобы вызвать специалиста для ремонта плиты, вам необходимо предоставить следующие сведения: марку и модель. Если в вашей плите возникли следующие неисправности:
        </p>
            <ul class="list-group">
                <li class="list-group-item">отсутствует&nbsp;электроподжиг;</li>
                <li class="list-group-item">не работает конфорка;</li>
                <li class="list-group-item">духовка;</li>
                <li class="list-group-item">плита не включается;</li>
                <li class="list-group-item">не отключается;</li>
                <li class="list-group-item">или наблюдается недостаточный нагрев техники, то вам необходимо позвонить к квалифицированным мастерам.</li>
            </ul>
        <p>
             Неисправности и проблемы в работе плиты могут возникнуть по причине неправильной эксплуатации бытовой техники. Обратившись в наш сервис, вы сможете выполнить качественный&nbsp;ремонт кухонных плит&nbsp;по приемлемой цене.
        </p>
    </div>
</div>
{% endblock content %}