{% extends "base.html" %}
{% block title %}Ремонт кофемашин во Фрязино{% endblock title %}
{% block content %}

<div class="container mt-4">
    <h1 class="mt-4 text-center">Ремонт кофемашин во Фрязино</h1>
    <div class="h5">
        Выход кофемашины из строя может существенно усложнить жизнь любого кофемана. От своевременного восстановления техники зависит не только работоспособность владельца устройства, но и его хорошее настроение, поэтому компания «Левша» предлагает свои услуги по ремонту кофемашин и кофеварок. Наши сотрудники оперативно выявят и устранят любые неисправности, возникшие в работе кофемашины, предоставив гарантию на проведенные работы и использованные во время ремонта детали.
    </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md">
        <div class="card" style="width: 18rem">
          <img
            src="https://img.mvideo.ru/Pdb/20063942b.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body text-center">
            <p class="card-text h4">
                от 1000₽
            </p>
            <p class="card-text h5">
                Мелкий ремонт,
                без разборки.
            </p>
            <ul class="list-group">
                <li class="list-group-item">техническое обслуживание.</li>
                <li class="list-group-item">настройка после ошибок.</li>
                <li class="list-group-item">автоматическая очистка.</li>
            </ul>
          </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card" style="width: 18rem">
          <img
            src="https://tortorg.ru/uploads/category/222/menu_zapchasti-dlya-kofemashin.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text h4">
                от 2000₽
            </p>
            <p class="card-text h5">
                Средний ремонт, с частичной разборкой.
            </p>
            <ul class="list-group">
                <li class="list-group-item">замена клапана.</li>
                <li class="list-group-item">замена насоса.</li>
                <li class="list-group-item">ремонт/замена затворного устройства.</li>
                <li class="list-group-item">ремонт/замена бункера для воды.</li>
            </ul>
          </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card" style="width: 18rem">
          <img
            src="https://items.s1.citilink.ru/1153036_v01_b.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text h4">
                от 3500₽
            </p>
            <p class="card-text h5">
                Крупный ремонт, с полной разборкой.
            </p>
            <ul class="list-group">
                <li class="list-group-item">капитальный ремонт.</li>
                <li class="list-group-item">ремонт электроники.</li>
                <li class="list-group-item">ремонт/замена гидроузлов..</li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}