{% extends "base.html" %}
{% block title %}Ремонт электроплит во Фрязино | Левша ремонт электроплит{% endblock title %}
{% block description %}Левша ремонт электроплит. Телефон ремонта электроплит 8 985 025 025 8. Мы находимся по адресу: г.Фрязино, ул.Московская, д.5{% endblock description %}
{% block content %}
<div class="container">
    <!-- Background image -->
    <h1 class="text-center mt-3">Ремонт электроплит во Фрязино</h1>
    <h2 class="text-center mt-3">Адрес:</h2>
    <h3 class="text-center">г.Фрязино, ул.Московская, д.5(Вход со двора)</h3>
    <h2 class="text-center mt-3">Телефон:</h2>
    <h3 class="text-center">8 985 025 025 8</h3>
    <h2 class="text-center mt-3">Режим работы:</h2>
    <h3 class="text-center">c 9:00 до 20:00. Без выходных и праздников.</h3>     
    <img src="https://i.ibb.co/mFXHZbZ/electroplita.png" class="img-fluid" alt="ремонт электроплит">
    <h2 class="text-center mt-3">Ремонт электроплит на дому</h2>
    <h3>
        Неисправная электроплита на кухне это катастрофа! Но успокойтесь, решить вашу проблему с лёгкостью вам поможет наш мастер.      
    </h3>
{% endblock content %}