{% extends "base.html" %}
{% block title %}Ремонт стиральных машин во Фрязино | Левша ремонт стиральных машин{% endblock title %}
{% block description %}Левша ремонт стиральных машин. Телефон ремонта стиральных машин 8 985 025 025 8. Мы находимся по адресу: г.Фрязино, ул.Московская, д.5{% endblock description %}
{% block content %}
<div class="container">
    <!-- Background image -->
    <h1 class="text-center mt-3">Ремонт стиральных машин во Фрязино</h1>
    <h2 class="text-center mt-3">Адрес:</h2>
    <h3 class="text-center">г.Фрязино, ул.Московская, д.5(Вход со двора)</h3>
    <h2 class="text-center mt-3">Телефон:</h2>
    <h3 class="text-center">8 985 025 025 8</h3>
    <h2 class="text-center mt-3">Режим работы:</h2>
    <h3 class="text-center">c 9:00 до 20:00. Без выходных и праздников.</h3>      
    <img src="https://i.ibb.co/YRS6Wys/Screenshot-3.png" class="img-fluid" alt="Ремонт стиральных машин">
    <h2 class="text-center mt-3">Ремонт стиральных машин на дому</h2>
    <h4>
        Сейчас не найдется человека, который стирает все руками. В вопросе стирки самое удобное - стиральная машина. Используя ее ежедневно, мы подвергаем ее быстрому износу. Даже диагностику следует выполнять у мастера, ведь поломка может привести к потопу. А что уж говорить о ремонте. В этом вопросе следует довериться профессионалу, который выполнит ремонт качественно с гарантией и быстро, тем более на дому будет очень удобно.
    </h4>
    <h2 class="text-center mt-3">Ремонт стиральных машин в мастерской</h2>
    <h4>        
        Стоит ли говорить о том, что ремонт стиральных машин не требует замедлений. Чтобы предотвратить такие серьезные проблемы, как потоп или короткое замыкание, следует немедленно обратиться к специалисту в мастерскую. Обращение в сервисный центр - залог правильной диагностики, качественного ремонта и гарантии качества.
    </h4>

{% endblock content %}