{% extends "base.html" %}
{% block title %}Ремонт телевизоров во Фрязино | Левша ремонт телевизоров{% endblock title %}
{% block description %}Левша ремонт телевизоров. Телефон ремонта телевизоров 8 985 025 025 8. Мы находимся по адресу: г.Фрязино, ул.Московская, д.5{% endblock description %}
{% block content %}
<div class="container">
    <!-- Background image -->
    <h1 class="text-center mt-3">Ремонт телевизоров во Фрязино</h1>
    <h2 class="text-center mt-3">Адрес:</h2>
    <h3 class="text-center">г.Фрязино, ул.Московская, д.5(Вход со двора)</h3>
    <h2 class="text-center mt-3">Телефон:</h2>
    <h3 class="text-center">8 985 025 025 8</h3>
    <h2 class="text-center mt-3">Режим работы:</h2>
    <h3 class="text-center">c 9:00 до 20:00. Без выходных и праздников.</h3>     
    <img src="https://i.ibb.co/HK1vW0X/Screenshot-1.png" class="img-fluid" alt="ремонт телевизоров">
    <h2 class="text-center mt-3">Мастерская по ремонту телевизоров</h2>
    <h3>
        Кажется, что поломку телевизора можно устранить самостоятельно. Но те, кто так думает, ошибаются. Микросхемы легко повредить. Поэтому ремонт телевизоров нужно доверить профессионалу. В мастерской починка пройдет быстрее, так как там уже есть все готовые запчасти, которые моментально можно заменить. Соответственно, ремонт будет выполнен за короткий промежуток времени, качественно и с гарантией.
    </h3>
{% endblock content %}



<!--



-->



