{% extends "base.html" %}
{% block title %}Ремонт варочных панелей во Фрязино{% endblock title %}
{% block content %}
<div class="container">
    <h1 class="mt-4 text-center">Ремонт варочных панелей во Фрязино</h1>
    <table class="table">
     <colgroup><col><col></colgroup>
    <tbody>
    <tr class="table-primary">
        <td>
             Ремонт электропроводки
        </td>
        <td>
             от 700 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Разблокировка варочной поверхности
        </td>
        <td>
             от 700 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Ремонт или замена платы сенсорного управления
        </td>
        <td>
             от 1500 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td rowspan="1" colspan="2">
             ЭЛЕКТРИЧЕСКИЕ ПАНЕЛИ
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Замена термопредохранителя
        </td>
        <td>
             от 600 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Ремонт или замена чугунной конфорки
        </td>
        <td>
             от 600 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Ремонт или замена конфорки стеклокерамической панели
        </td>
        <td>
             от 900 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Ремонт или замена регулятора мощности конфорки
        </td>
        <td>
             от 700 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Замена клеммной коробки
        </td>
        <td>
             от 1200 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Ремонт или замена конфорки с расширением
        </td>
        <td>
             от 1100 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Ремонт или замена модуля управления
        </td>
        <td>
             от 1700 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Замена стекла
        </td>
        <td>
             Не менее 50% от стоимости новой
        </td>
    </tr>
    <tr class="table-primary">
        <td rowspan="1" colspan="2">
             ЭЛЕКТРИЧЕСКИЕ ИНДУКЦИОННЫЕ ВАРОЧНЫЕ ПАНЕЛИ
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Замена термопредохранителя
        </td>
        <td>
             от 900 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Ремонт или замена конфорки
        </td>
        <td>
             от 1300 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Ремонт или замена регулятора мощности конфорки
        </td>
        <td>
             от 1000 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Замена клеммной коробки
        </td>
        <td>
             от 1600 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Ремонт или замена конфорки с расширением
        </td>
        <td>
             от 1300 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Ремонт или замена модуля управления
        </td>
        <td>
             от 2000 руб.
        </td>
    </tr>
    </tbody>
    </table>
</div>
{% endblock content %}