{% extends "base.html" %}
{% block title %}Ремонт швейных машин во Фрязино{% endblock title %}
{% block content %}

<div class="container mt-4">
    <!-- Background image -->
    <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" style="
        background-image: url('https://www.perfectstock.ru/files/preview/1280x961/1c1db902180648d0f7aea336aa660722-l-21583948295k1o3fbol8tcovciwfph52efiyenyokzaia6wdzal2xbcl7m1ymbdj7az6qvatgrvbwfr1hw6wqojbsuctjq33xv7bnwvhxcg1qd6.jpg');
        height: 40vh;">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
          <h1 class="text-white mb-0">Ремонт швейных машин во Фрязино</h1>
            <p>
                Обитатели маленьких находящихся в Московской области населенных пунктов великолепно понимают - в случае если чего-то нет в их родном городе, то всякий раз возможно съездить за данным в Столицу. Ну задумаешься, бесполезные пару часов в электричке просидеть — это не так уж и жутко. Всё делается куда ужаснее, в случае если на человека сваливается действительная неувязка, к примеру, надобность починки швейных машин. Фрязино в данном случае не удобнее других населенных пунктов, потому что транспортировать крупногабаритную швейную машинку непросто. К счастью, есть и другой выход из ситуации.
            </p>
            <p>
                В Подмосковье трудится мастерская "Левша", сферой интересов которой считается швейное оснащение. Естественно, работа за пределами мастерской гораздо труднее и ответственнее, впрочем, высокая квалификация разрешает им с лёгкостью осуществлять ремонт любой сложности швейных машинок.
            </p>
        </div>
    </div>
    <!-- Background image -->
    <div class="container text-center">
        <h2>7 причин выбрать нас</h2>
        <hr>        
        <h4>1) Только бывалые специалисты!</h4>
        <h5>У наших специалистов 10-ки лет опыта за плечами!</h5>
        <hr>
        <h4>2) Делаем каждый раз качественно!</h4>
        <h5>Нашу работу мы выполняем отменно и на долгие годы! Несмотря на то что, в следующий раз вы к нам обратитесь спустя долгие годы, зато вы посоветуете нас родным, соседям и своим знакомым как неплохую мастерскую!</h5>
        <hr>
        <h4>3) Механики с практикой!</h4>
        <h5>Любой наш механик имеет стаж работы на швейных фабриках или же в мастерских по починке швейного оснащения как минимум 15 лет!</h5>
        <hr>
        <h4>4) В наличии имеются детали для ремонта!</h4>
        <h5>Мы обслуживаем не только частных лиц, но и швейные фабрики, мастерские по пошиву и починке одежды и т.д., вследствие этого у нас есть надежные поставщики запчастей, как на домашнюю, так и на промышленную швейную технику!</h5>
        <hr>
        <h4>5) Необходимую сумму починки сообщаем сразу!</h4>
        <h5>Мы озвучиваем необходимую сумму ремонта незамедлительно, исходя, из описания вашей трудности по которой вы обратились к нам за помощью. Сумма озвучивается (например) от 1000 р. до 1500 р. как с составными частями, так и без них!</h5>
        <hr>
        <h4>6) Всегда на связи!</h4>
        <h5>Мы трудимся на рынке по ремонту бытовой техники больше 10 лет, без выходных и праздников, с 9:00 до 20:00!</h5>
        <hr>
        <h4>7) Всегда вовремя!</h4>
        <h5>У нас трудятся операторы, которые принимают, распределяют и напоминают о заявках, вследствие этого ни раз механик не пропустит и не забудет ни одного покупателя!</h5>
        <hr>        
    </div>
</div>
{% endblock content %}



