{% extends "base.html" %}
{% block title %}Ремонт кофемашин во Фрязино | Левша ремонт кофемашин{% endblock title %}
{% block description %}Левша ремонт кофемашин. Телефон ремонта кофемашин 8 985 025 025 8. Мы находимся по адресу: г.Фрязино, ул.Московская, д.5{% endblock description %}
{% block content %}
<div class="container">
    <!-- Background image -->
    <h1 class="text-center mt-3">Ремонт кофемашин во Фрязино</h1>
    <h2 class="text-center mt-3">Адрес:</h2>
    <h3 class="text-center">г.Фрязино, ул.Московская, д.5(Вход со двора)</h3>
    <h2 class="text-center mt-3">Телефон:</h2>
    <h3 class="text-center">8 985 025 025 8</h3>
    <h2 class="text-center mt-3">Режим работы:</h2>
    <h3 class="text-center">c 9:00 до 20:00. Без выходных и праздников.</h3>     
    <img src="https://i.ibb.co/pyys6dg/kofemashina.png" class="img-fluid" alt="ремонт кофемашин">
    <h2 class="text-center mt-3">Ремонт кофемашин</h2>
    <h3>        
        Сломалась кофемашина? Нужен ремонт? Легко! Наши мастера используют профессиональные инструменты что гарантирует качественный ремонт.
    </h3>
{% endblock content %}