{% extends "base.html" %}
{% block title %}Ремонт посудомоечных машин во Фрязино{% endblock title %}
{% block content %}
<div class="container">
    <h1 class="mt-4 text-center">Ремонт посудомоечных машин Фрязино</h1>
<table class="table">
 <colgroup><col><col><col><col><col></colgroup>
<tbody>
<tr class="table-primary">
	<td>
		 Неисправность
	</td>
	<td>
		 Цена
	</td>
</tr>
<tr class="table-primary">
	<td rowspan="1" colspan="2">
		 ЛЕГКИЙ РЕМОНТ
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена держателей колёсиков корзины (1 шт.)
	</td>
	<td>
		 от 100 руб
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена колёсиков корзины (1 шт.)
	</td>
	<td>
		 от 100 руб
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена разбрызгивателя (импеллера) (1 шт.)
	</td>
	<td>
		 от 900 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена заливного шланга
	</td>
	<td>
		 от 1000 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Чистка разбрызгивателя (импеллера) (1 шт.)
	</td>
	<td>
		 от 800 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Очистка фильтров
	</td>
	<td>
		 от 1300 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Чистка заливного фильтра-сеточки
	</td>
	<td>
		 от 1000 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена заливного шланга с системой Аквастоп
	</td>
	<td>
		 от 1300 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена нижнего уплотнителя дверцы
	</td>
	<td>
		 от 1200 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт или замена петли двери (1 шт.)
	</td>
	<td>
		 от 1200 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена датчика соли
	</td>
	<td>
		 от 1300 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт или замена пружины дверцы (1 шт.)
	</td>
	<td>
		 от 1250 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Регулировка прессостата (реле уровня воды)
	</td>
	<td>
		 от 1300 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена сливного шланга
	</td>
	<td>
		 от 1500 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена сетевого шнура
	</td>
	<td>
		 от 1200 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена П-образного уплотнителя дверцы
	</td>
	<td>
		 от 1800 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт механизма замка
	</td>
	<td>
		 от 1250 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт или замена дозатора моющих средств (диспенсера)
	</td>
	<td>
		 от 1250 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена кнопки
	</td>
	<td>
		 от 1000 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена сенсора управления
	</td>
	<td>
		 от 1300 руб.
	</td>
</tr>
<tr class="table-primary">
	<td rowspan="1" colspan="2">
		 СРЕДНИЙ РЕМОНТ
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Поиск и устранение засора в сливном тракте
	</td>
	<td>
		 от 1500 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена расходомера (датчика протока воды)
	</td>
	<td>
		 от 1800 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена датчика мутности
	</td>
	<td>
		 от 2100 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена панели управления
	</td>
	<td>
		 от 1600 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт стакана моечного бака (ремкомплект)
	</td>
	<td>
		 от 1800 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт или замена патрубка
	</td>
	<td>
		 от 1800 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена сливного насоса
	</td>
	<td>
		 от 1500 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена ТЭНа
	</td>
	<td>
		 от 1900 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена замка двери (УБЛ)
	</td>
	<td>
		 от 1800 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена заливного клапана (КЭНа)
	</td>
	<td>
		 от 1600 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена пускового конденсатора циркуляционного насоса
	</td>
	<td>
		 от 1600 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена проточного нагревательного элемента (ТЭНа)
	</td>
	<td>
		 от 2200 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена датчика температуры или термостата
	</td>
	<td>
		 от 1500 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена блока управления или индикации
	</td>
	<td>
		 от 2300 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт или замена системы защиты от протечек (Аквастопа)
	</td>
	<td>
		 от 2000 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена циркуляционного насоса
	</td>
	<td>
		 от 2250 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Разблокировка циркуляционного насоса
	</td>
	<td>
		 от 2000 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена бачка для соли
	</td>
	<td>
		 от 2100 руб
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт циркуляционного насоса (ремкомплект)
	</td>
	<td>
		 от 2250 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена прессостата (датчика уровня)
	</td>
	<td>
		 от 1500 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт теплообменника (чистка, замена клапана спуска и др.)
	</td>
	<td>
		 от 2300 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт электропроводки
	</td>
	<td>
		 от 1500 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт платы управления или индикации
	</td>
	<td>
		 от 2500 руб.
	</td>
</tr>
<tr class="table-primary">
	<td rowspan="1" colspan="2">
		 СЛОЖНЫЙ РЕМОНТ
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена водоприёмника (картера)
	</td>
	<td>
		 от 2300 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена улитки (стакана-отстойника) циркуляционного насоса
	</td>
	<td>
		 от 3300 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена моечного бака
	</td>
	<td>
		 от 3300 руб.
	</td>
</tr>
<tr class="table-primary">
	<td rowspan="1" colspan="2">
	</td>
</tr>
<tr class="table-primary">
	<td rowspan="1" colspan="2">
		 *Цены не включают в себя стоимость запчастей и других расходников
	</td>
</tr>
</tbody>
</table>
</div>
{% endblock content %}