{% extends "base.html" %}
{% block title %}Ремонт микроволновок во Фрязино | Левша ремонт микроволновок{% endblock title %}
{% block description %}Левша ремонт микроволновок. Телефон ремонта микроволновок 8 985 025 025 8. Мы находимся по адресу: г.Фрязино, ул.Московская, д.5{% endblock description %}
{% block content %}
<div class="container">
    <!-- Background image -->
    <h1 class="text-center mt-3">Ремонт микроволновок во Фрязино</h1>
    <h2 class="text-center mt-3">Адрес:</h2>
    <h3 class="text-center">г.Фрязино, ул.Московская, д.5(Вход со двора)</h3>
    <h2 class="text-center mt-3">Телефон:</h2>
    <h3 class="text-center">8 985 025 025 8</h3>
    <h2 class="text-center mt-3">Режим работы:</h2>
    <h3 class="text-center">c 9:00 до 20:00. Без выходных и праздников.</h3>     
    <img src="https://i.ibb.co/9vCxzx3/mikrovolnovka.png" class="img-fluid" alt="ремонт микроволновок">

    <h2 class="text-center mt-3">Ремонт микроволновок в мастерской</h2>
    <h3>        

    </h3>
{% endblock content %}


