{% extends "base.html" %}
{% block title %}Ремонт холодильников во Фрязино | Левша ремонт холодильников{% endblock title %}
{% block description %}Левша ремонт холодильников. Телефон ремонта холодильников 8 985 025 025 8. Мы находимся по адресу: г.Фрязино, ул.Московская, д.5{% endblock description %}
{% block content %}
<div class="container">
    <!-- Background image -->
    <h1 class="text-center mt-3">Ремонт холодильников во Фрязино</h1>
    <h2 class="text-center mt-3">Адрес:</h2>
    <h3 class="text-center">г.Фрязино, ул.Московская, д.5(Вход со двора)</h3>
    <h2 class="text-center mt-3">Телефон:</h2>
    <h3 class="text-center">8 985 025 025 8</h3>
    <h2 class="text-center mt-3">Режим работы:</h2>
    <h3 class="text-center">c 9:00 до 20:00. Без выходных и праздников.</h3>     
    <img src="https://i.ibb.co/HzgBS4c/Screenshot-5.png" class="img-fluid" alt="ремонт холодильников">
    <h2 class="text-center mt-3">Ремонт холодильников на дому</h2>
    <h3>
        Вышедший из строя холодильник может доставить массу неприятностей. Самостоятельный ремонт холодильника может значительно усложнить работу мастеру. При выявлении неисправности холодильника мы рекомендуем обратиться за помощью к нам. Наш специалист прямо на дому может устранить большую часть возможных поломок прямо на дому.
    </h3>
    <h2 class="text-center mt-3">Ремонт холодильников в мастерской</h2>
    <h3>        
        В некоторых случаях на дому не всегда возможно устранить проблему. В таком случае мы готовы осуществить доставку вашего холодильника к нам в мастерскую. Огромный опыт мастера и наличие всего что необходимо для ремонта поможет нам качественно и быстро отремонтировать ваш холодильник.
    </h3>
{% endblock content %}