{% extends "base.html" %}
{% block title %}Ремонт холодильников во Фрязино{% endblock title %}
{% block content %}
<div class="container">
    <h1 class="mt-4 text-center">Ремонт холодильников во Фрязино</h1>
<table class="table table-sm">
 <colgroup><col><col><col><col><col></colgroup>
<tbody>
<tr class="table-primary">
	<td>
		 Неисправность
	</td>
	<td>
		 Цена
	</td>
</tr>
<tr class="table-primary">
	<td rowspan="1" colspan="5">
		 МАЛЫЙ РЕМОНТ
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Чистка дренажа
	</td>
	<td>
		 от 1100 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Регулировка дверцы
	</td>
	<td>
		 от 900 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Перевешивание дверцы
	</td>
	<td>
		 от 1300 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена шнура электропитания
	</td>
	<td>
		 от 1100 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена петли
	</td>
	<td>
		 от 1100 руб.
	</td>
</tr>
<tr class="table-primary">
	<td rowspan="1" colspan="5">
		 СРЕДНИЙ РЕМОНТ
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена пускозащитного реле
	</td>
	<td>
		 от 1600 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена терморегулятора
	</td>
	<td>
		 от 1600 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена панели управления
	</td>
	<td>
		 от 1100 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена дисплея
	</td>
	<td>
		 от 1250 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт дверцы холодильника
	</td>
	<td>
		 от 1250 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена электромагнитного клапана
	</td>
	<td>
		 от 1300 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена плавкого предохранителя (модели No-Frost)
	</td>
	<td>
		 от 1250 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена таймера оттайки (модели No-Frost)
	</td>
	<td>
		 от 1250 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена датчика оттайки (модели No Frost)
	</td>
	<td>
		 от 1250 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена температурного датчика
	</td>
	<td>
		 от 1250 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена герконового выключателя
	</td>
	<td>
		 от 1250 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена модуля управления (индикации, оттайки)
	</td>
	<td>
		 от 1900 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена нагревателя испарителя (модели No-Frost)
	</td>
	<td>
		 от 2400 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена вентилятора (модели No-Frost)
	</td>
	<td>
		 от 1800 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт проводки
	</td>
	<td>
		 от 1500 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт ледогенератора
	</td>
	<td>
		 от 1900 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена уплотнителя двери
	</td>
	<td>
		 от 1100 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт блока управления или индикации
	</td>
	<td>
		 от 2500 руб.
	</td>
</tr>
<tr class="table-primary">
	<td rowspan="1" colspan="2">
		 СЛОЖНЫЙ РЕМОНТ
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Заправка холодильника фреоном
	</td>
	<td>
		 от 2000 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт или замена трубопровода (без заправки)
	</td>
	<td>
		 от 900 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена фильтра-осушителя (без заправки)
	</td>
	<td>
		 от 800 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Удаление влаги в холодильном контуре
	</td>
	<td>
		 от 1600 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт или восстановление теплоизоляции холодильного шкафа
	</td>
	<td>
		 от 2900 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена конденсатора (с заправкой)
	</td>
	<td>
		 от 2400 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Устранение засора в капиллярном трубопроводе
	</td>
	<td>
		 от 1800 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена мотора-компрессора (с заправкой)
	</td>
	<td>
		 от 1900 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Замена испарителя (с заправкой)
	</td>
	<td>
		 от 1800 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт испарителя (с заправкой)
	</td>
	<td>
		 от 2200 руб.
	</td>
</tr>
<tr class="table-primary">
	<td>
		 Ремонт испарителя No-Frost
	</td>
	<td>
		 от 2000 руб.
	</td>
</tr>
</tbody>
</table>
</div>
{% endblock content %}