{% extends "base.html" %}
{% block title %}Ремонт стиральных машин во Фрязино{% endblock title %}
{% block content %}
    <div class="container">
        <h1 class="mt-4 text-center">Ремонт стиральных машин во Фрязино</h1>
        <p class="h5">Рекомендации мастера:</p>
        <p class="h6">Перед началом использования стиральной машины настоятельно рекомендуется
        прочесть инструкцию по эксплуатации.</p>
        <p class="h6">Если возникли проблемы со сливом воды в первую очередь рекомендуется
        проверить сливной фильтр рассположенный с переди в низу.</p>
        <p class="h6">При появлении постороннего шума следует обратиться к мастеру.</p>
    </div>

{% endblock content %}