{% extends "base.html" %}
{% block title %}Ремонт швейных машинок во Фрязино | Левша ремонт швейных машинок{% endblock title %}
{% block description %}Левша ремонт швейных машинок. Телефон ремонта швейных машинок 8 985 025 025 8. Мы находимся по адресу: г.Фрязино, ул.Московская, д.5{% endblock description %}
{% block content %}
<div class="container">
    <!-- Background image -->
    <h1 class="text-center mt-3">Ремонт швейных машинок во Фрязино</h1>
    <h2 class="text-center mt-3">Адрес:</h2>
    <h3 class="text-center">г.Фрязино, ул.Московская, д.5(Вход со двора)</h3>
    <h2 class="text-center mt-3">Телефон:</h2>
    <h3 class="text-center">8 985 025 025 8</h3>
    <h2 class="text-center mt-3">Режим работы:</h2>
    <h3 class="text-center">c 9:00 до 20:00. Без выходных и праздников.</h3>     
    <img src="https://i.ibb.co/5G6qxpr/image.png" class="img-fluid" alt="ремонт швейных машинок">
    <h2 class="text-center mt-3">Ремонт швейных машинок в мастерской</h2>
    <h4>
     Владельцы швейных машин часто сталкиваются с такой проблемой, как сбои в работе, вызванные поломкой. Самостоятельная починка не всегда будет успешной. В таких случаях определенно лучше обратиться к профессионалу. Настоящие, опытные мастера всегда правильно выявят причину, устранят ее за короткие сроки и предоставят гарантию.      
    </h4>
    <h2 class="text-center mt-3">Ремонт швейных машин на дому</h2>
    <h4>
     Данная услуга особенно полезна для тех, кто шьет на заказ. Когда ломается швейная машина, времени везти ее в мастерскую практически нет. Лучшим выходом из этой ситуации станет вызов мастера на дом. Он приедет, проведет диагностику, устранит поломку быстро и качественно, даст гарантию качества, что немаловажно.     
    </h4>

{% endblock content %}





