{% extends "base.html" %}
{% block title %}Ремонт духовых шкафов во Фрязино{% endblock title %}
{% block content %}
<div class="container">
    <h1 class="mt-4 text-center">Ремонт духовых шкафов во Фрязино</h1>
    <table class="table table-sm">
     <colgroup><col><col></colgroup>
    <tbody>
    <tr class="table-primary">
        <td>
             Замена лампы подсветки
        </td>
        <td>
             от 500 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Демонтаж-монтаж встраиваемого духового шкафа
        </td>
        <td>
             от 400 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Замена кронштейна (петли) двери
        </td>
        <td>
             от 500 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Замена ручки дверцы
        </td>
        <td>
             от 600 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Ремонт электропроводки
        </td>
        <td>
             от 700 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Замена уплотнителя
        </td>
        <td>
             от 600 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Замена стекла дверцы (внутреннего или наружного)
        </td>
        <td>
             от 900 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Замена мотора вертела гриля
        </td>
        <td>
             от 1100 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Замена ТЭНа (верхнего, нижнего, конвекции)
        </td>
        <td>
             от 1200 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Замена терморегулятора (термостата)
        </td>
        <td>
             от 1200 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Ремонт или замена таймера
        </td>
        <td>
             от 1100 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Ремонт или замена вентилятора
        </td>
        <td>
             от 1200 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Ремонт или замена переключателя режимов
        </td>
        <td>
             от 900 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Ремонт или замена платы сенсорного управления
        </td>
        <td>
             от 1400 руб.
        </td>
    </tr>
    <tr class="table-primary">
        <td>
             Ремонт или замена модуля управления
        </td>
        <td>
             от 1000 руб.
        </td>
    </tr>
    </tbody>
    </table>
</div>
{% endblock content %}