{% extends "base.html" %}
{% block title %}Ремонт посудомоечных машин во Фрязино | Левша ремонт посудомоечных машин{% endblock title %}
{% block description %}Левша ремонт посудомоечных машин. Телефон ремонта посудомоечных машин 8 985 025 025 8. Мы находимся по адресу: г.Фрязино, ул.Московская, д.5{% endblock description %}
{% block content %}
<div class="container">
    <!-- Background image -->
    <h1 class="text-center mt-3">Ремонт посудомоечных машин во Фрязино</h1>
    <h2 class="text-center mt-3">Адрес:</h2>
    <h3 class="text-center">г.Фрязино, ул.Московская, д.5(Вход со двора)</h3>
    <h2 class="text-center mt-3">Телефон:</h2>
    <h3 class="text-center">8 985 025 025 8</h3>
    <h2 class="text-center mt-3">Режим работы:</h2>
    <h3 class="text-center">c 9:00 до 20:00. Без выходных и праздников.</h3>     
    <img src="https://i.ibb.co/b3Vbsk1/Screenshot-4.png" class="img-fluid" alt="ремонт посудомоечных машин">
    <h2 class="text-center mt-3">Ремонт посудомоечных машин на дому</h2>
    <h3>
        Мытьё посуды не самое увлекательное занятие скажем так, но крайне необходимое. Выход из строя посудомоечной машины может заметно усложнить этот процесс. Как правило, вернуть к жизни вашу посудомоечную машину наш специалист сможет прямо на дому.
    </h3>
    <h2 class="text-center mt-3">Ремонт посудомоечных машин в мастерской</h2>
    <h3>        
        К сожалению не все неисправности возможно устранить в домашних условиях. В таком случае мы организуем доставку вашей посудомоечной машины к нам в мастерскую. Квалифицированный специалист с большим опытом работы и всё необходимое для ремонта оборудование помогут нам устранить неисправность в самые короткие сроки.
    </h3>
{% endblock content %}